/**
 * @author Elias De Hondt
 * @see https://eliasdh.com
 */

/* Contact */
/* Body */
body {
    color: #FFFFFF;
}
/* Body */
/* Article */
article {
    margin: 0 auto;
    max-width: 800px;
    padding-left: 10px;
    padding-bottom: 10px;
}
/* Article */
/* Contact data */
.contactData {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
}
/* Contact data */
/* Address */
address {
    font-style: normal;
}
/* Address */
/* Map */
iframe {
    border: none;
    width: 500px;
    height: 500px;
}
/* Map */
/* Responsief */
@media only screen and (max-width: 600px) {
    iframe {
        border: none;
        width: 300px;
        height: 300px;
    }
}
/* Responsief */
/* Contact */