/*
 * Van Elias De Hondt
 * https://eliasdh.com
 */
/* Personalisering */
label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input, label {
    margin: 0.4rem 0;
}

.validinput {
    background: #FF0000;
}
/* Personalisering */