/**
 * @author Elias De Hondt
 * @see https://eliasdh.com
 */

/* Productdetail */
/* Button */
button {
    background-color: #FF0000;
    border: none;
    font-size: 18px;
    color: #FFFFFF;
    padding: 10px;
    width: 250px;
}
/* Button */
/* Grid Main */
main {
    display: grid; /* Dit zorgt ervoor dat de grid duidelijk getoond wordt en de layout correct is. */
    gap: 10px 10px;
    grid-template-areas: 'afbeelding product-specificaties'
                         'omschrijving product-details';
    grid-template-columns: 60% 40%;
    grid-template-rows: auto auto;
    list-style: none;
    margin: 10px;
}

.afbeelding:nth-child(1) { grid-area: afbeelding; }
.product-specificaties:nth-child(2) { grid-area: product-specificaties; }
.product-details:nth-child(3) { grid-area: product-details; }
.omschrijving:nth-child(4) { grid-area: omschrijving; }
/* Grid Main */
/* Productdetail */