/*
 * Van Elias De Hondt
 * https://eliasdh.com
 */
/* Producten */
/* Filter Groepen */
label {
    display: block; /* Dit is ervoor te zorgen dat elke radio button de nodige plek heeft. */
    position: relative; /* Dit is voor de custom Radio Buttons te Laten zien. */
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
}

input {
    position: absolute; /* Dit is ervoor te zorgen dat de Radio Buttons dichter bij elkaar staan. */
    opacity: 0;
    cursor: pointer;
}

span {
    position: absolute; /* Dit is voor de custom Radio Buttons te Laten zien. */
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #333;
    border-radius: 50%;
}

input:hover input ~ span {
    background-color: #333;
}

input:checked ~ span {
    background-color: #2196F3;
}
/* Filter Groepen */
/* Grid Main */
main {
    display: grid; /* Dit zorgt ervoor dat de grid duidelijk getoond wordt en de layout correct is. */
    gap: 10px 10px;
    grid-template-areas: 'filter-groepen producten';
    grid-template-columns: 11% 89%;
    list-style: none;
    margin: 10px;
    padding: 10px;
}

.filter-groepen:nth-child(1) { grid-area: filter-groepen; }
.producten:nth-child(2) { grid-area: producten; }
/* Grid Main */
/* Grid Producten */
.producten {
    display: grid; /* Dit zorgt ervoor dat de grid duidelijk getoond wordt en de layout correct is. */
    gap: 10px 10px;
    grid-template-areas: 'padel-rackets padel-schoenen padel-balls padel-tassen';
    grid-template-columns: 25% 25% 25% 25%;
    list-style: none;
    margin: 10px;
    padding: 10px;
}

.padel-rackets:nth-child(1) { grid-area: padel-rackets; }
.padel-schoenen:nth-child(2) { grid-area: padel-schoenen; }
.padel-balls:nth-child(3) { grid-area: padel-balls; }
.padel-tassen:nth-child(4) { grid-area: padel-tassen; }

.padel-rackets {
    grid-row-start: 1;
    grid-row-end: 3;
    padding: 10px;
}

.padel-schoenen {
    grid-row-start: 1;
    grid-row-end: 3;
    padding: 10px;
}

.padel-balls {
    grid-row-start: 1;
    grid-row-end: 3;
    padding: 10px;
}

.padel-tassen {
    grid-row-start: 1;
    grid-row-end: 3;
    padding: 10px;
}
/* Grid Producten */
article, header, section {
    background: #FFFFFF;
}
section {
    padding: 10px;
}
/* Producten */