/**
 * @author Elias De Hondt
 * @see https://eliasdh.com
 */

/* Producten */
/* Filter | Groepen */
[value="alle1"]:checked ~ .filter [for="alle1"],
[value="alle2"]:checked ~ .filter [for="alle2"],
[value="alle3"]:checked ~ .filter [for="alle3"],
[value="alle4"]:checked ~ .filter [for="alle4"],
[value="blauw"]:checked ~ .filter [for="blauw"],
[value="zwart"]:checked ~ .filter [for="zwart"],
[value="geel"]:checked ~ .filter [for="geel"],
[value="small"]:checked ~ .filter [for="small"],
[value="medium"]:checked ~ .filter [for="medium"],
[value="large"]:checked ~ .filter [for="large"],
[value="man"]:checked ~ .filter [for="man"],
[value="unisex"]:checked ~ .filter [for="unisex"],
[value="adidas"]:checked ~ .filter [for="adidas"],
[value="asics"]:checked ~ .filter [for="asics"],
[value="puma"]:checked ~ .filter [for="puma"] {
    background: #4F94F0;
    color: #FFFFFF;
}

[value="alle1"]:checked ~ .productF [data-category],
[value="alle2"]:checked ~ .productF [data-category],
[value="alle3"]:checked ~ .productF [data-category],
[value="alle4"]:checked ~ .productF [data-category] {
    display: block; /* Laat alleen de geselecteerde items zien en verberg de rest */
}

[value="blauw"]:checked ~ .productenF .productF:not([data-category~="blauw"]),
[value="zwart"]:checked ~ .productenF .productF:not([data-category~="zwart"]),
[value="geel"]:checked ~ .productenF .productF:not([data-category~="geel"]),
[value="groen"]:checked ~ .productenF .productF:not([data-category~="groen"]),
[value="small"]:checked ~ .productenF .productF:not([data-category~="small"]),
[value="medium"]:checked ~ .productenF .productF:not([data-category~="medium"]),
[value="large"]:checked ~ .productenF .productF:not([data-category~="large"]),
[value="man"]:checked ~ .productenF .productF:not([data-category~="man"]),
[value="vrouw"]:checked ~ .productenF .productF:not([data-category~="vrouw"]),
[value="unisex"]:checked ~ .productenF .productF:not([data-category~="unisex"]),
[value="adidas"]:checked ~ .productenF .productF:not([data-category~="adidas"]),
[value="asics"]:checked ~ .productenF .productF:not([data-category~="asics"]),
[value="puma"]:checked ~ .productenF .productF:not([data-category~="puma"]) { /* Verberg items die niet aan de geselecteerde filters voldoen */
    display: none;
}

.radio { /* Zorgt ervoor dat de radio buttons dichter bij elkaar staan */
    position: absolute; /* Dit is ervoor te zorgen dat de Radio Buttons dichter bij elkaar staan. */
    opacity: 0;
    cursor: pointer;
}

.filter { /* Definieert de stijl van de filtersectie */
    display: block;
    position: relative;
    padding: 2px;
    cursor: pointer;
    font-size: 22px;
}

.filter label {
    padding: 5px 10px;
    line-height: normal;
    cursor: pointer;
}

.filterOL label:hover {
    background: #FFFFFF;
    color: #4F94F0;
}

ol {
    padding: 10px 10px 10px 40px;
}

.zoekbalk, input[type=number]{
    font-size: inherit;
    border: 1px solid rgba(255,255,255,.1);
    border-radius: .5em;
    padding: 10px;
    margin: 0;
    background: hsla(220,7%,17%,.66);
    color: #FFFFFF;
    outline: none;
    transition: all .5s ease;
    box-shadow: 0 5px 20px #2f3237bf,0 5px 10px #2f3237bf;
    grid-row: 1;
    grid-column: 1;
    width: 100%;
}
/* Filter | Groepen */
/* Grid article */
article {
    display: grid; /* Dit zorgt ervoor dat de grid duidelijk getoond wordt en de layout correct is. */
    gap: 10px 10px;
    grid-template-areas: 'filterG productenG';
    grid-template-columns: 10% 90%;
    grid-template-rows: auto;
    list-style: none;
    margin: 10px;
}

.filterG:nth-child(1) { grid-area: filterG; }
.productenG:nth-child(2) { grid-area: productenG; }
/* Grid article */
/* Responsief */
@media only screen and (max-width: 1430px) {
    article {
        display: grid; /* Dit zorgt ervoor dat de grid duidelijk getoond wordt en de layout correct is. */
        gap: 10px 10px;
        grid-template-areas: 'filterG'
                             'productenG';
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        list-style: none;
        margin: 10px;
    }

    .zoekbalk, input[type=number]{
        width: 50%;
    }
}
/* Responsief */
/* Producten */