/**
 * @author Elias De Hondt
 * @see https://eliasdh.com
 */

/* Niet geclassificeerd */
.hide { /* Verbergt elementen met de "hide" class */
    display:none /* Dit wordt gebruikt voor de titels te hiden. */
}

a { /* Stijl van links in de pagina */
    background: #4F94F0;
    color: #FFFFFF;
    text-decoration: none; /* Geen onderstreepte links */
}

a:hover { /* Stijl van links bij hover */
    text-decoration: underline; /* Onderstreepte links bij hover */
}

img {
    border-radius: 20px;
}
/* Niet geclassificeerd */
/* Grid Body */
body {
    background: #FFFFFF; /* Achtergrondkleur */
    grid-template-areas: 'header' 'main' 'footer'; /* Definitie van grid areas */
    grid-template-rows: 100%; /* Enkele kolom */
    grid-template-columns: auto auto auto; /* Hoogte van grid rows is automatisch */
    list-style: none; /* Geen bullets bij ongenummerde lijsten */
}

/* Positionering van grid areas */
header:nth-child(1) { grid-area: header; }
main:nth-child(2) { grid-area: main; }
footer:nth-child(3) { grid-area: footer; }
/* Grid Body */
/* Font */
body {
    font-family: sans-serif; /* Lettertype voor de pagina */
    margin: 0; /* Geen marges rond de pagina */
}
/* Font */
/* Nav */
.nav-logo {
    padding-top: 10px;
    height: 50%; /* Hoogte van de navigatielogo */
    width: 50%; /* Breedte van de navigatielogo */
}

.li-logo {
    display: inline-block; /* Zodat de buttons van een navigatiebalk op de correcte (Centraal in het midden staan). */
}

.dropdown-content {
    display: none; /* Verbergt dropdown content */
    position: absolute;
    top: 65px; /* Verplaats de .dropdown-content 50px onder de button */
    left: 200px; /* Verplaats de .dropdown-content helemaal naar links ten opzichte van de button */
    min-width: 160px; /* Minimale breedte van dropdown content */
    z-index: 1; /* Layering van dropdown content */
    padding: 10px;
    border: 2px solid #FFFFFF;
}

.dropdown:hover .dropdown-content {
    display: block; /* Wanneer de gebruiker over producten staat met zijn of haar cursor worden de extra opties getoond */
}

.dropdown .drop {
    font-size: 16px;
    border: none;
    outline: none;
    color: #FFFFFF;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    background-color: #4F94F0;
    border-radius: 20px;
    padding-bottom: 10px;
}

li {
    display: inline-block; /* Zodat de buttons van een navigatiebalk op de correcte (Centraal in het midden staan). */
}

li a {
    display: block; /* Zodat de buttons van een navigatiebalk op de correcte (Centraal in het midden staan). */
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background: #FFFFFF;
    color: #4F94F0;
    border-radius: 100px;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a.active {
    background: #FFFFFF;
    color: #4F94F0;
    border-radius: 100px;
}

.topnav .icon {
    display: none;
}

.topnav {
    overflow: hidden;
    border-radius: 100px;
    background-color: #4F94F0;
}
/* Nav */
/* Titel */
h2,h3 {
    color: #FFFFFF;
}
/* Titel */
/* Padding */
section, h2, h3, body, main,
.padel-rackets, .padel-schoenen, .padel-balls, .padel-tassen, .producten, .afbeelding, .product-specificaties, .product-details, .omschrijving, .info, .getuigenissen, .product {
    padding: 10px;
}
/* Padding */
/* Footer */
footer {
    border-radius: 20px;
    background-color: #4F94F0;
    padding: 20px;
    text-align: center;
    color: #FFFFFF;
    font-size: 15px;
}

footer a {
    color: #FFFFFF;
    font-weight: bold;
}

footer a:hover {
    color: #4F94F0;
    background: #FFFFFF;
}

article, header, section {
    background: #4F94F0;
    color: #FFFFFF;
    font-size: 20px;
    border-radius: 20px;
}
/* Footer */
/* Scrollbars */
body {
    --scrollbar-border-thickness: 0px;
    --scrollbar-width: 10px;
    --scrollbar-border-radius: 5px;
    --scrollbar-height: 10px;
    --show-double-buttons: none;
}
body::-webkit-scrollbar {
    width: var(--scrollbar-width, 20px);
    height: var(--scrollbar-height, 20px);
}

body::-webkit-scrollbar-thumb {
    background: #3B82F6;
    border: var(--scrollbar-border-thickness, 3px) solid #ffffff;
    border-radius: var(--scrollbar-border-radius, 4px);
}

body::-webkit-scrollbar-corner {
    background: #FFFFFF;
    border: var(--scrollbar-border-thickness, 3px) solid #ffffff;
    border-radius: var(--scrollbar-border-radius, 4px);
}
/* Scrollbars */
/* Responsief */
@media screen and (max-width: 750px) {
    .topnav ul:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
    .dropdown-content {
        display: inline;
        position: static;
        min-width: 0;
        z-index: auto;
        padding: 0;
        border: 0 none;
    }

    li {
        display: list-item;
        list-style-type: none;
    }

    li a {
        display: inline-block;
        color: inherit;
        text-align: left;
        padding: initial;
        text-decoration: none;
    }

    li a:hover:not(.active) {
        background: initial;
        color: inherit;
        border-radius: initial;
    }

    .topnav a {
        float: none;
        display: inline-block;
        color: inherit;
        text-align: left;
        text-decoration: none;
        font-size: medium;
    }
}

@media screen and (max-width: 750px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive ul {
        float: none;
        display: block;
        text-align: left;
    }
}
/* Responsief */