/**
 * @author Elias De Hondt
 * @see https://eliasdh.com
 */

/* Niet geclassificeerd */
.hide { /* Verbergt elementen met de "hide" class */
    display:none /* Dit wordt gebruikt voor de titels te hiden. */
}

a { /* Stijl van links in de pagina */
    background: #4F94F0;
    color: #FFFFFF;
    text-decoration: none; /* Geen onderstreepte links */
}

a:hover { /* Stijl van links bij hover */
    text-decoration: underline; /* Onderstreepte links bij hover */
}

img {
    border-radius: 20px;
}
/* Niet geclassificeerd */
/* Grid Body */
body {
    background: #FFFFFF; /* Achtergrondkleur */
    grid-template-areas: 'header' 'main' 'footer'; /* Definitie van grid areas */
    grid-template-rows: 100%; /* Enkele kolom */
    grid-template-columns: auto auto auto; /* Hoogte van grid rows is automatisch */
    list-style: none; /* Geen bullets bij ongenummerde lijsten */
}

/* Positionering van grid areas */
header:nth-child(1) { grid-area: header; }
main:nth-child(2) { grid-area: main; }
footer:nth-child(3) { grid-area: footer; }
/* Grid Body */
/* Font */
body {
    font-family: sans-serif; /* Lettertype voor de pagina */
    margin: 0; /* Geen marges rond de pagina */
}
/* Font */
/* Nav */
.nav-logo {
    padding-top: 10px;
    height: 50%; /* Hoogte van de navigatielogo */
    width: 50%; /* Breedte van de navigatielogo */
}

.dropdown-content {
    display: none; /* Verbergt dropdown content */
    position: absolute; /* Plaatsing van dropdown content */
    min-width: 160px; /* Minimale breedte van dropdown content */
    z-index: 1; /* Layering van dropdown content */
    padding: 10px;
    border: 2px solid #FFFFFF;
}

.dropdown:hover .dropdown-content {
    display: block; /* Wanneer de gebruiker over producten staat met zijn of haar cursor worden de extra opties getoond */
}

.dropdown .drop {
    font-size: 16px;
    border: none;
    outline: none;
    color: #FFFFFF;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    background-color: #4F94F0;
    border-radius: 20px;
    padding-bottom: 10px;
}

li {
    display: inline-block; /* Zodat de buttons van een navigatiebalk op de correcte (Centraal in het midden staan). */
}

li a {
    display: block; /* Zodat de buttons van een navigatiebalk op de correcte (Centraal in het midden staan). */
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #4F94F0;
}

.active {
    background: #FFFFFF;
    color: #4F94F0;
    border-radius: 100px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    background: #000000;
    z-index: -1;
}

/* Nav Main */
#main-menu {
    max-width: 800px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 9;
}
/* Nav Main */
/* Nav Hamburger */
#hamburger-input{
    display: none;
}

#hamburger-menu {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    display: none;
    border: none;
    padding: 0;
    margin: 0;
    background: linear-gradient(
            to bottom,
            #4F94F0, #4F94F0 20%,
            #FFFFFF 20%, #FFFFFF 40%,
            #4F94F0 40%, #4F94F0 60%,
            #FFFFFF 60%, #FFFFFF 80%,
            #4F94F0 80%, #4F94F0 100%
    );
}

#hamburger-menu #sidebar-menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: -250px;
    width: 200px;
    height: 100%;
    background-color: #4F94F0;
    transition: 0.3s;
    padding: 0 10px;
    box-sizing: border-box;
}

#hamburger-input:checked + #hamburger-menu #sidebar-menu {
    visibility: visible;
    left: 0;
}

#hamburger-input:checked ~ .overlay{
    visibility: visible;
    opacity: 0.4;
}
/* Nav Hamburger */
/* Nav */
/* Titel */
h2,h3 {
    color: #FFFFFF;
}
/* Titel */
/* Padding */
section, h2, h3, body, main,
.padel-rackets, .padel-schoenen, .padel-balls, .padel-tassen, .producten, .afbeelding, .product-specificaties, .product-details, .omschrijving, .info, .getuigenissen, .product {
    padding: 10px;
}
/* Padding */
/* Footer */
footer {
    border-radius: 20px;
    background-color: #4F94F0;
    padding: 20px;
    text-align: center;
    color: #FFFFFF;
    font-size: 15px;
}

footer a {
    color: #FFFFFF;
    font-weight: bold;
}

footer a:hover {
    color: #4F94F0;
    background: #FFFFFF;
}

article, header, section {
    background: #4F94F0;
    color: #FFFFFF;
    font-size: 20px;
    border-radius: 20px;
}
/* Footer */
/* Scrollbars */
body {
    --scrollbar-border-thickness: 0px;
    --scrollbar-width: 10px;
    --scrollbar-border-radius: 5px;
    --scrollbar-height: 10px;
    --show-double-buttons: none;
}
body::-webkit-scrollbar {
    width: var(--scrollbar-width, 20px);
    height: var(--scrollbar-height, 20px);
}

body::-webkit-scrollbar-thumb {
    background: #3B82F6;
    border: var(--scrollbar-border-thickness, 3px) solid #ffffff;
    border-radius: var(--scrollbar-border-radius, 4px);
}

body::-webkit-scrollbar-corner {
    background: #FFFFFF;
    border: var(--scrollbar-border-thickness, 3px) solid #ffffff;
    border-radius: var(--scrollbar-border-radius, 4px);
}
/* Scrollbars */
/* Responsief */
@media screen and (max-width: 750px) {
    #main-menu {
        display: none;
    }
    #hamburger-menu {
        display: inline;
    }
}
/* Responsief */