/*
 * Van Elias De Hondt
 * https://eliasdh.com
*/
/* Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
body {
    font-family: 'Montserrat', sans-serif;
}
/* Font */
/* Nav */
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #FFFFFF;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .drop {
    font-size: 16px;
    border: none;
    outline: none;
    color: #FFFFFF;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #4F94F0;
}

.active {
    background-color: #4F94F0;
}
/* Nav */
/* Contact */
#map {
    filter: hue-rotate(45deg) !important;
    height: 400px;
    width: 800px;
}
/* Contact */